/* Cpoyright © 2020 Matthew Heck. All rights reserved.

This file contains all css for the HeartsTable Component

Created in US 1 */

#game-container {
    position: absolute;
    margin-top: -64px;
    height: inherit;
    width: inherit;
}

#start-menu {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}

.start-menu-text {
    margin: 0;
    text-align: center;
    font-family: "Andale Mono", AndaleMono, monospace;
    font-size: 75px;
    color: white;
    padding-top: 50px;
}

.start-menu-text:hover {
    filter: brightness(80%);
    font-size: 78px;
}

#begin-button {
    margin-top: 2em;
}

#mockDeck {
    z-index: 998;
}

#playing-area {
    position: absolute;
    height: 175px;
    width: 175px;
    top: 50%;
    margin-top: -87.5px;
    left: 50%;
    margin-left: -87.5px;
    border: 2px solid #2b5440;
    border-radius: 5px;
}

#hearts-logo {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -25px;
}

.player-hand {
    position: absolute;
}

.player-hand.active {
    border: 2px solid #faed27 !important;
}

#player1-hand {
    bottom: 0;
    left: 50%;
    margin-left: -260px;
    border: 2px solid #2b5440;
    border-radius: 5px;
    height: 225px;
    margin-bottom: -100px;
    width: 520px;
}

#player2-hand {
    left: 0;
    top: 50%;
    margin-top: -260px;
    border: 2px solid #2b5440;
    border-radius: 5px;
    width: 225px;
    margin-left: -100px;
    height: 520px;
}

#player3-hand {
    top: 0;
    left: 50%;
    margin-left: -260px;
    border: 2px solid #2b5440;
    border-radius: 5px;
    height: 225px;
    margin-top: -100px;
    width: 520px;
}

#player4-hand {
    right: 0;
    top: 50%;
    margin-top: -260px;
    height: 520px;
    width: 225px;
    margin-right: -100px;
    border: 2px solid #2b5440;
    border-radius: 5px;
}

.action-button {
    visibility: hidden;
    position: absolute;
    left: 50%;
    margin-left: -430px;
    bottom: 20px;
    z-index: 9999;
    background-color: white;
    border: solid black 1px;
    color: black;
    padding: 20px;
    font-family: "Andale Mono", AndaleMono, monospace;
    text-align: center;
    font-size: 16px;
    border-radius: 7px;
    margin-top: 7px;
}

#pass-instructions {
    visibility: hidden;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 140px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: white;
    font-size: 20px;
}

#pass-instructions.visible {
    visibility: visible;
}

#round-status-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 140px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: white;
    font-size: 20px;
}

#round-end-message {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 140px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: white;
    font-size: 20px;
}

#current-winner-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 140px;
    font-family: "Andale Mono", AndaleMono, monospace;
    color: white;
    font-size: 16px;
}

#pass-button.visible {
    visibility: visible;
}

#pass-button:hover {
    background-color: LightGray;
}

#play-button.visible {
    visibility: visible;
}

#play-button:hover {
    background-color: LightGray;
}

.won {
    display: none;
}
#final-score-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 999;
}

#final-score {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: "Andale Mono", AndaleMono, monospace;
    background: white;
    color: black;
}

#final-score-header {
    font-size: 45px;
    padding: 20px 40px;
    margin: 0;
    background: #2974ae;
    color: white;
}

.player-final-score {
    font-size: 20px;
}